<div class="container-fluid">
    <div class="row">
        <!-- IMAGE SECTION -->
        <div class="col-sm-5">
            <div class="image">
                <img src="https://salestack.in/admin/api/uploads/Product//1660628686Qz8l94Ic.png" class="img-fluid"  alt="addemppage" />
            </div>
        </div>

        <!-- form section -->
        <div class="col-sm-6">
            <div class="card">
                <h5>Add Employee</h5>
                <div class="row">
                    <form [formGroup]="employeeform">
                        <div class="form-group mb-1">
                          <label for="firstName">First Name</label>
                          <input type="text" class="form-control" formControlName="firstname" placeholder="Enter First Name">
                        </div>
                        
                        <div class="form-group mb-1">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" formControlName="lastname" placeholder="Enter Last Name">
                          </div>

                          <div class="form-group mb-1">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="number" class="form-control" formControlName="phonenumber" placeholder="Enter PhoneNumber">
                          </div>

                          <div class="form-group mb-1">
                            <label for="City">City</label>
                            <input type="text" class="form-control" formControlName="city" placeholder="Enter City">
                          </div>
                       
                          <div class="text-center mt-2">
                            <button type="submit" (click)="submitEmployee(this.employeeform.value)" [disabled]="this.employeeform.invalid" class="btn btn-primary">Submit</button>&nbsp;
                            <button type="submit" routerLink ="/employeelist" class="btn btn-success">Back</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>